/* .bookItem{
    background: lightblue;
    border-radius: 2%;
   
}
*/
.bookItem button{
    color:white;
    margin-left:86%;

}
.bookItem li{
    margin:3%;
    
    font-weight: bold;
}
.listBooks{
    list-style: none;
} 